php_value error_reporting 1
php_value display_errors 1

RewriteEngine On
RewriteBase /

#RewriteRule ^applications/((com|org|net|edu)\.[a-z0-9][a-z0-9-]{2,}\.[a-z0-9][a-z0-9-]{2,})/channels$ main.php?view=channels.php&id=$1 [L,NC,QSA]
RewriteCond %{REQUEST_URI} ^/applications/((com|org|net|edu)\.[a-z0-9][a-z0-9-]{2,}\.[a-z0-9][a-z0-9-]{2,})/ [NC]
RewriteRule ^applications/([^\/]+)/channels$ main.php?view=channels.php&id=$1 [L,NC,QSA]
RewriteRule ^applications/([^\/]+)/permissions$ main.php?view=permissions.php&id=$1 [L,NC,QSA]
RewriteRule ^channel/([^\/]+)/subscriptions$ main.php?view=subscriptions.php&id=$1 [L,NC,QSA]

RewriteRule ^about main.php?view=about.php [L,NC,QSA]
RewriteRule ^account main.php?view=account.php [L,NC,QSA]
RewriteRule ^applications main.php?view=applications.php [L,NC,QSA]

RewriteCond %{REQUEST_URI} ^/actions [NC]
RewriteRule actions/account/create main.php?path=application/forms/accountCreate.php [L,NC,QSA]
RewriteRule actions/account/verify/(\w+) main.php?path=application/forms/accountVerify.php&key=$1 [L,NC,QSA]
RewriteRule actions/account/authorize main.php?path=application/forms/accountAuthorize.php [L,NC,QSA]
RewriteRule actions/account/logout main.php?path=application/forms/accountLogout.php [L,NC,QSA]
RewriteRule actions/account/update main.php?path=application/forms/accountUpdate.php [L,NC,QSA]
RewriteRule actions/application/create main.php?path=application/forms/applicationCreate.php [L,NC,QSA]
RewriteRule actions/application/delete main.php?path=application/forms/applicationDelete.php [L,NC,QSA]
RewriteRule actions/application/permissions/update main.php?path=application/forms/applicationUpdatePermissions.php [L,NC,QSA]
RewriteRule actions/channel/create main.php?path=application/forms/channelCreate.php [L,NC,QSA]
RewriteRule actions/channel/delete main.php?path=application/forms/channelDelete.php [L,NC,QSA]
RewriteRule actions/channel/subscribe main.php?path=application/forms/channelSubscribe.php [L,NC,QSA]


RewriteCond %{REQUEST_URI} !(\.gif$)|(\.jpg$)|(\.png$)|(\.css$)|(\.js$)|(\.xml$) 
RewriteCond %{REQUEST_URI} ^(.*)$
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* main.php [QSA,L]




#RewriteEngine On
#RewriteBase /
#
#RewriteCond %{REQUEST_URI} !(\.php$)
#
##Views
#RewriteRule ^/?$ /views/home.php [L]
#RewriteRule ^index /views/home.php [L]
#RewriteRule ^registration/?$ /views/registration.php [L]
#
#RewriteRule ^account/settings/?$ /views/account_settings.php [L]
#RewriteRule ^account/channels/?$ /views/account_channels.php [L]
#RewriteRule ^account/settings/success[/]?$ /views/account_settings.php?status=success [L]
#RewriteRule ^forgetful/?$ /views/password_reset.php
#RewriteRule ^forgetful/no_more/?$ /views/password_reset.php?status=success [L]
#
##Actions
#RewriteRule ^account/authenticate[/]?$ /application/handlers/authentication.php [L]
#RewriteRule ^account/reset[/]?$ /application/handlers/resetPassword.php [L]
#RewriteRule ^account/logout[/]?$ /application/handlers/logout.php [L]
#RewriteRule ^account/create[/]?$ /application/handlers/accountCreate.php [L]
#RewriteRule ^account/application/create[/]?$ /application/handlers/applicationCreate.php [L]
#RewriteRule ^account/settings/modify[/]?$ /application/handlers/accountModify.php [L]
#RewriteRule ^account/authorization/([\w\d]{32})[/]?$ /application/handlers/accountAuthorization.php?key=$1 [L]
#RewriteRule ^account/channels/delete/? /application/handlers/channelDelete.php [L]
#
##API
##RewriteRule ^api/categories\.(xml|json) /application/services/api/categories.php?format=$1 [L]
#RewriteRule ^api/story/([\w\d]{32})$ /application/services/api/story/$1 [L] 